 <!-- ここからRailsにてアクションと連携 (form_with)-->
<%= form_with model:@book,local:true do |f| %>
 <!--ここからバリデーション設定-->
  <% if book.errors.any? %>
    <%= book.errors.count %>件のエラーが発生しました
    <% book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="main-form">
    <h3><strong>New book</strong></h3>
    <section class="form">
      <p>title</p>
      <%= f.text_field :title %>
    </section>
    <section class="form">
      <p>Body</p>
      <%= f.text_area :body %>
    </section>
    <div class="form form-submit">
      <%= f.submit 'Create book' %>
    </div>
  </div>
<% end %>
